<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="center">
        <%= image_tag avatar_url(@user), class: "avatar-full" %>
      </div>
      <br><br>
      <div class="panel panel-default">
        <div class="panel-heading">Verified info</div>
        <div class="panel-body">
          Email Address <br>
          Phone Number
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h2>Hey, I'm <%= @user.first_name %>!</h2> 
      <div class="description row-space-3">
        <%= @user.description %>
      </div>
      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>