<div class="container content banner">
  <h3 class="text-center"><span class="text-blue">Gymible</span> Train wherever you want.</h3>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <a href="/host"><div class="panel-body">
          <span class="pull-left"><%= image_tag("start.jpg", :height => "80", :alt => "gym") %></span>
          <span class="text-center"><h5>For Gyms</h5></span>
        </div></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <a href=""><div class="panel-body">
          <span class="pull-left"><%= image_tag("trainer.jpg", :height => "80", :alt => "trainer") %></span>
          <span class="text-center"><h5>For Trainers</h5></span>
        </div></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <a href=""><div class="panel-body">
          <span class="pull-left"><%= image_tag("host.jpg", :height => "80", :alt => "trainer") %></span>
          <span class="text-center"><h5>For Clients and Guests</h5></span>
        </div></a>
      </div>
    </div>
  </div>
  <br><br>
  
  <!-- Gyms -->
  <div><h3>Gyms</h3></div>
  <br>
  
  <div class="row" id="room_listing">
    <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
  </div>
</div>

<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
</script>

